$primary-color: #673ab7;

.image-upload-container {
  display: inline-block;
  align-items: center;
  padding: 8px 0px;
}

.image-upload-button {
  margin-right: 10px; 
}

.image-preview {
  max-width: 200px;
  max-height: 100px;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 130px;
  padding: 10px 0px;
}


.image-upload-button::-webkit-file-upload-button {
  visibility: hidden;
}

.image-upload-button::before {
  content: 'Seleccionar Archivo';
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: lightslategrey; 
  color: #fff; 
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.image-upload-button:hover::before {
  background-color: #5a2d91;
}

