$primary-color: #673ab7;

  #container {
    display: flex;
    width: 100%;
    height: 100vh;

    #sidebar {
      width: 200px;
      height: 100vh;
      background: linear-gradient(to bottom, $primary-color, #8f508aa3); 

    }

    #contentContainer {
      flex-grow: 1;
      overflow-y: auto;
    }

    #header {
      width: 100%;      
    }

  }


  