<div class="tittle">Busca tu proximo hotel y reserva</div>
<div class="search-container">
    <app-search-hotels (searchFilterHotels)="searchFilterHotels($event)"></app-search-hotels>
 </div>

<div class="hotel-list">
    <mat-grid-list cols="4">
        <mat-grid-tile *ngFor="let hotel of hotelsFilter">
            <mat-card (click)="openCreateReservationModal(hotel)">
                <mat-card-header>
                    <mat-card-title>
                        <p>{{ hotel.name }}</p>
                        <app-ratingstar [isInteractionEnabled]=false
                            [selectedStars]="hotel ? hotel.starCategory : 0"></app-ratingstar>

                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p><strong>Caracteristicas:</strong></p>
                    <p><strong>Reseña:</strong> {{ hotel.description }}</p>
                    <p><strong>Location:</strong> {{ hotel.country }}, {{ hotel.department }}, {{ hotel.city }}</p>
                    <p><strong>Habitaciones:</strong> {{ hotel.rooms?.length }}</p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div *ngIf="!hotelsFilter"><h1 >Filtra tu fecha de ida y  regreso, ciudad , cantidad de personas y encuentra los mejores hoteles</h1></div>