<mat-card>
  <div [formGroup]="searchForm">
    <div class="row">
      <mat-form-field class="middle-width">
        <mat-label class="label-login">Fecha Inicio</mat-label>
        <input matInput [matDatepicker]="entryPicker" formControlName="entryDate">
        <mat-datepicker-toggle matSuffix [for]="entryPicker"></mat-datepicker-toggle>
        <mat-datepicker #entryPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="middle-width">
        <mat-label class="label-login">Fecha Salida</mat-label>
        <input matInput [matDatepicker]="exitPicker" formControlName="exitDate">
        <mat-datepicker-toggle matSuffix [for]="exitPicker"></mat-datepicker-toggle>
        <mat-datepicker #exitPicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="middle-width">
        <mat-label class="label-login">Canidad personas</mat-label>
        <input matInput type="number"  formControlName="numberOfPersons">
      </mat-form-field>

      <mat-form-field class="middle-width">
        <mat-label class="label-login">País</mat-label>
        <mat-select formControlName="country">
          <mat-option *ngFor="let country of countries" [value]="country">{{country}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="middle-width">
        <mat-label class="label-login">Departmento</mat-label>
        <mat-select formControlName="department">
          <mat-option *ngFor="let department of departments" [value]="department">{{department}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="middle-width">
        <mat-label class="label-login">Ciudad</mat-label>
        <mat-select formControlName="city">
          <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" (click)="searchHotels()">Buscar Hoteles</button>
  </div>
</mat-card>