<div class="register-container">
    <mat-card class="register-card">
      <mat-card-header>
        <mat-card-title>
          <img src="logo.png" alt="Logo" width="80" height="80" class="logo">
          Registrarse
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="fields-container">
            <mat-form-field>
              <mat-label>Nombres</mat-label>
              <input matInput formControlName="firstName" placeholder=" " />
              <mat-error *ngIf="registerForm.get('firstName')?.hasError('required')">Nombres son obligatorios</mat-error>
              <mat-error *ngIf="registerForm.get('firstName')?.hasError('minlength')">Nombres deben tener al menos 3 caracteres</mat-error>
              <mat-error *ngIf="registerForm.get('firstName')?.hasError('maxlength')">Nombres no deben exceder los 10 caracteres</mat-error>
            </mat-form-field>
          </div>
  
          <div class="fields-container">
            <mat-form-field>
              <mat-label>Apellidos</mat-label>
              <input matInput formControlName="lastName" placeholder=" " />
              <mat-error *ngIf="registerForm.get('lastName')?.hasError('required')">Apellidos son obligatorios</mat-error>
              <mat-error *ngIf="registerForm.get('lastName')?.hasError('minlength')">Apellidos deben tener al menos 3 caracteres</mat-error>
              <mat-error *ngIf="registerForm.get('lastName')?.hasError('maxlength')">Apellidos no deben exceder los 10 caracteres</mat-error>
            </mat-form-field>
          </div>
  
          <div class="fields-container">
            <mat-form-field>
              <mat-label>Fecha de Nacimiento</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="birthDate" placeholder=" " />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="registerForm.get('birthDate')?.hasError('required')">Fecha de Nacimiento es obligatoria</mat-error>
            </mat-form-field>
          </div>
  
          <div class="fields-container">
            <mat-form-field>
              <mat-label>Contacto</mat-label>
              <input matInput formControlName="contact" placeholder=" " />
              <mat-error *ngIf="registerForm.get('contact')?.hasError('required')">Contacto es obligatorio</mat-error>
            </mat-form-field>
          </div>
  
          <div class="fields-container">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" placeholder=" " />
              <mat-error *ngIf="registerForm.get('email')?.hasError('required')">Email es obligatorio</mat-error>
              <mat-error *ngIf="registerForm.get('email')?.hasError('email')">Formato de email inválido</mat-error>
            </mat-form-field>
          </div>
  
          <div class="fields-container">
            <mat-form-field>
              <mat-label>Contraseña</mat-label>
              <input matInput type="password" formControlName="password" placeholder=" " />
              <mat-error *ngIf="registerForm.get('password')?.hasError('required')">Contraseña es obligatoria</mat-error>
              <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">Contraseña debe tener al menos 6 caracteres</mat-error>
            </mat-form-field>
          </div>
  
          <div class="fields-container">
            <mat-form-field>
              <mat-label>Rol</mat-label>
              <mat-select formControlName="role" placeholder="Seleccionar">
                <mat-option value="admin">Administrador</mat-option>
                <mat-option value="user">Usuario</mat-option>
              </mat-select>
              <mat-error *ngIf="registerForm.get('role')?.hasError('required')">Rol es obligatorio</mat-error>
            </mat-form-field>
          </div>
  
          <button mat-raised-button color="primary" type="submit">Registrarse</button>
        </form>
      
      </mat-card-content>
    </mat-card>
  </div>
  