$primary-color: #673ab7;


.register-form {
  height: 100vh;
}

.register-card {
  max-width: 500px;
  width: 100%;
  text-align: center;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 2.22);

}

.mat-card-header {
  background-color: $primary-color;
}

.mat-form-field {
  width: 100%;
  margin-top: 15px;
}

.mat-icon {
  color: black;
}

.mat-raised-button {
  margin-top: 20px;
}

.mat-mdc-card-content {
  display: block;
  padding: 0 16px;
  background: linear-gradient(to bottom, $primary-color, #8f508aa3);
  ;
}

.mat-mdc-card-title,
.mat-mdc-card-subtitle {
  display: flex;
  margin: 0;
  color: white;
  text-align: center;

}

.mat-mdc-card-header {
  display: flex;
  padding: 16px 16px 0;
  background: linear-gradient(to bottom, $primary-color, $primary-color);
  ;
}

.logo {
  padding: 0px 107px 20px 0px;
}

.mdc-card__actions {
  display: block;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  min-height: 52px;
  padding: 8px;
  background: linear-gradient(to bottom, #8f508aa3, #8f508aa3);
  ;

}

.mat-input {
  width: 70%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
